<div id="site_intro">
  <p>
    <%= tc("site_name") %> lists all of the regular
    <%= link_to "Swing Dance classes", {anchor: "classes_today"}, {rel: "subsection"} %>
    in <%= tc("city") %> which teach
    <%= link_to "Lindy Hop", about_path(anchor: "about_lindy"), {rel: "subsection"} %>,
    Charleston, Balboa, Blues, Collegiate Shag and Authentic Jazz.
  </p>
  <p>
    It also lists all of the opportunities for
    <%= link_to "social dancing", {anchor: "socials_today"}, {rel: "subsection"} %>
    to vintage jazz music.
  </p>
</div>

<div id="note">
  <p>
    If you think something is missing or incorrect please email
    <%= mail_to tc("email_address"), tc("email_address"), subject: tc("site_name") %>
    (but check the
    <%= link_to "listings policy", listings_policy_path %>
    first)
  </p>
</div>

<%= render "listings/donate_message"%>

<%= render 'shared/header_navigation' %>
