<% content_for :head do %>
  <% # Facebook open graph tags %>
  <meta content="Swing Out London - Lindy Hop Listings" property="og:title"/>
  <meta content="Swing Out London" property="og:site_name"/>
  <meta content="Swing Out London is a listing of weekly Lindy Hop classes, regular socials, swing gigs and vintage clubs" property="og:description"/>
  <meta content="website" property="og:type"/>
  <meta content="https://www.swingoutlondon.co.uk" property="og:url"/>
  <meta content="https://www.swingoutlondon.co.uk/swingoutlondon_og.png" property="og:image"/>
  <meta content="<%= Rails.configuration.x.facebook.app_id %>" property="fb:app_id"/>
  <meta content="dgmstuart" property="fb:admins"/>
<% end %>

<% content_for :navigation do %>
  <p id="last_updated_ago">
    Last updated
    <time class="timeago" datetime="<%= @last_updated_datetime.getutc.iso8601 %>">
      at <%= @last_updated_time %> on <%= @last_updated_date %>
    </time>
  </p>

  <%= render "navigation", ad: @ad %>
<% end %>

<% content_for :page_content do %>
  <p id="caveat">
    <strong>Please note:</strong>
    The listings below are only a guide. Always check the source website before making any plans
  </p>

  <div id="social_dances">
    <%= socialsh2(@socials_dates) do %>
      <em>Dance!</em>
      Clubs and Social dancing
    <% end %>
    <p id="key">
      N.B. Infrequent events are prefixed with a
      <%= image_tag "highlight_icon.png", alt: "asterisk" %>
    </p>
    <%= render "social_listings" %>
    <p class="note">Swing Out London lists the next 14 days of events</p>
  </div>

  <div id="classes">
    <h2>
      <em>Learn!</em>
      Weekly Classes
    </h2>
    <%= render "class_listings" %>
  </div>
<% end %>
