<% content_for :head do %>
  <% # Facebook open graph tags %>
  <meta content="<%= tc("site_name") %>" property="og:title"/>
  <meta content="<%= tc("site_name") %> is a listing of weekly Lindy Hop classes, regular socials, swing gigs and vintage clubs" property="og:description"/>
  <meta content="website" property="og:type"/>
  <meta content="<%= tc("site_url") %>" property="og:url"/>
  <meta content="<%= image_url(CITY.opengraph_image) %>" property="og:image"/>
<% end %>

<% content_for :navigation do %>
  <p id="last_updated_ago">
    Last updated
    <time class="timeago" time="<%= @last_updated.iso %>">
      <%= @last_updated.time_in_words %>
    </time>
  </p>

  <%= render "navigation" %>
<% end %>

<% content_for :page_content do %>
  <p id="caveat">
    <strong>Please note:</strong>
    The listings below are only a guide. Always check the source website before making any plans
  </p>

  <section id="social_dances" class="listings">
    <%= socialsh2(@socials_dates, @today, { class: "listings-heading" }) do %>
      <em>Dance!</em>
      Clubs and Social dancing
    <% end %>
    <p id="key">
      N.B. Infrequent events are prefixed with a
      <%= image_tag "highlight_icon.png", alt: "asterisk", width: "14", height: "16" %>
    </p>
    <%= render "social_listings" %>
    <p class="note"><%= tc("site_name") %> lists the next 14 days of events</p>
  </section>

  <section id="classes" class="listings">
    <h2 class="listings-heading">
      <em>Learn!</em>
      Weekly Classes
    </h2>
    <%= render "class_listings" %>
  </section>
<% end %>
