<%= form_for(@organiser) do |f| %>
  <%= render "shared/error_messages", :target => @organiser %>

  <div class='form-group'>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div class='form-group'>
    <%= f.label :shortname %>
    <%= f.text_field :shortname %>
    <span class='help'>Use this if the organiser name is really long and we want to use an abbreviation</span>
  </div>
  <div class='form-group'>
    <%= f.label :website %>
    <%= f.text_field :website %>
  </div>
  <div class='form-group'>
    <%= f.label :description %>
    <%= f.text_area :description %>
    <span class='help'>(this is just for our own reference)</span>
  </div>
  <div class='form-group actions'>
    <%= f.submit action, class: 'button' %>
    <%= link_to 'Cancel', cancel_path, class: "button button-secondary" %>
    <%= conditional_delete_tag(@organiser) %>
  </div>
<% end %>
