%h1 Audit Log

- @audits.each do |audit|
  - editor = Editor.build(audit)
  %p
    %span{ class: 'timestamp' }= audit.created_at
    %span{ class: 'editor', title: editor.auth_id }= editor.name
    %span{ class: 'action'}= audit.action
    %span{ class: 'record'}= "#{audit.auditable_type}(#{audit.auditable_id})"
    %span{ class: 'changes'}= audit.audited_changes.to_json
