= render partial: "map_info_address", locals: { venue: venue }

%ul.listing_info
  - events.each do |event|
    %li
      - unless @day
        %span.day= "#{event.day.pluralize}:" 
      = mapinfo_swingclass_link(event)
      = swingclass_cancelledmsg(event)