<%= render partial: "map_info_address", locals: { venue: } %>

<ul class="info-listings">
  <% listings.each do |social_listings_row| %>
    <li class="info-listing">
      <div class="social-date<%= ' cancelled' if social_listings_row.social_listing.cancelled? %>">
        <%= "#{ social_listings_row.date }:" %>
      </div>
      <div class="event_details">
        <%= mapinfo_social_listing(social_listings_row.social_listing) %>
      </div>
    </li>
  <% end %>
</ul>

<p class="nota_bene">
  <em>N.B. <%= tc("site_name") %> only lists events for the next <%= SOLDNTime::MAX_LISTING_DATES %> days</em>
</p>

