.venue_info.vcard
  %h3.url.fn= link_to venue.name, venue.website
  .adr
    %p= venue.address
    %p.postal-code
      = venue.postcode
%ul.listing_info
  - events.each do |event|
    %li
      -# N.B. NOT SHOWING CANCELLATIONS YET!
      - if event.has_social?
        = mapinfo_social_listing(event, false)
      - else
        - # N.B. FACTOR OUT FUNCTIONALITY FROM CLASS LISTINGS
        = mapinfo_swingclass_link(event)