<% content_for :title do %>
  <%= tc("site_name") %>'s Lindy Map: Classes
  <% if @day %>
    on <%= @day.pluralize %>
  <% end %>
<% end %>

<% content_for :description do %>
  <% # This just about fits on a google search result: %>
  A map of all the Lindy Hop classes in <%= tc("city") %>
  <% if @day %>
    on <%= @day.pluralize %>,
  <% end %>
  also classes in other swing dance styles: Charleston, Balboa, Blues, Authentic Jazz and Collegiate Shag
<% end %>

<% content_for :listings do %>
  <ul>
    <% DAYNAMES.each do |day| %>
      <li>
        <%= map_update_control_link(
          day.pluralize,
          { day: },
          selected: day == @day,
          url: map_classes_path(day, format: :json)
        ) %>
      </li>
    <% end %>
    <li>
      <%= map_update_control_link(
        "All",
        "#",
        selected: @day.blank?,
        url: map_classes_path(format: :json)
      ) %>
    </li>
  </ul>
  <p class="note">
    <em>Unless otherwise stated all classes are primarily Lindy Hop</em>
  </p>
<% end %>
