- content_for :title do
  Swing Out London's Lindy Map:
  -if @highlighted_venue
    #{ @highlighted_venue.name } in #{ @highlighted_venue.area }
  -else
    Classes
    -if @day
      on #{ @day.pluralize }

- content_for :description do
  -if @highlighted_venue
    A map showing the swing dance venue #{ @highlighted_venue.name } in #{ @highlighted_venue.area }. Classes on #{ @day.pluralize }.
  -else
    -# This just about fits on a google search result:
    A map of all the Lindy Hop classes in London
    -if @day
      on #{ @day.pluralize },
    also classes in other swing dance styles: Charleston, Balboa, Blues, Authentic Jazz and Collegiate Shag

- content_for :listings do
  %ul
    - DAYNAMES.each do |day|
      %li
        = link_to_unless (day == @day), day.pluralize, day: day, anchor: "current" do
          %span#current= day.pluralize
  %p.note
    %em Unless otherwise stated all classes are primarily Lindy Hop
