= map(@map_options, @json)

    

%header.page
  %h1 Swing Out London
  .navigation.primary-nav<

    - if @type == :socials
      %span.current Socials
      = link_to "Classes", type: "classes"
    - elsif @type == :classes
      = link_to "Socials", type: "socials"
      %span.current Classes
      
.listings.page
  - if @type == :classes
    %ul
      - DAYNAMES.each do |day|
        -if day == @day
          %li.current= day.pluralize
        -else
          %li= link_to day.pluralize, type: "classes", day: day

  - elsif @type == :socials
    %ul
      - @listing_dates.each do |date|
        -if date == @date
          %li.current= date.to_s(:listing_date)
        -else
          %li= link_to date.to_s(:listing_date), type: "socials", date: date.to_s(:db)

- content_for :scripts do
  :javascript
    Gmaps.map.callback = function() {  
      //var layer = new google.maps.BicyclingLayer();
      //var layer = new google.maps.TransitLayer();
      //layer.setMap(Gmaps.map.serviceObject);
    }