- content_for :title do
  Swing Out London's Lindy Map:
  -if @highlighted_venue
    #{ @highlighted_venue.name } in #{ @highlighted_venue.area }
  -else
    Socials
    -if @date
      on #{ @date.to_s(:listing_date) }


- content_for :description do
  -if @highlighted_venue
    A map showing swing dance venue #{ @highlighted_venue.name } in #{ @highlighted_venue.area }.
  -else
    A map of all the opportunities to dance to DJs and Bands playing Swing, Hot Jazz, Trad Jazz and Manouche in London
    -if @date
      on #{ @date.to_s(:listing_date) }

- content_for :head do
  -if @date
    %meta{ name: "robots", content: "noindex" }/

- content_for :listings do
  %ul
    - @listing_dates.each do |date|
      %li
        = link_to_unless (date == @date), date.to_s(:listing_date), date: date.to_s(:db), anchor: "current" do
          %span#current= date.to_s(:listing_date)
