<% content_for :title do %>
  <%= tc("site_name") %>'s Lindy Map: Socials
  <% if @map_dates.selected_date %>
    on <%= @map_dates.selected_date.to_fs(:listing_date) %>
  <% end %>
<% end %>

<% content_for :description do %>
  A map of all the opportunities to dance to DJs and Bands playing Swing, Hot Jazz, Trad Jazz and Manouche in <%= tc("city") %>
  <% if @map_dates.selected_date %>
    on <%= @map_dates.selected_date.to_fs(:listing_date) %>
  <% end %>
<% end %>

<% content_for :head do %>
  <% if @map_dates.selected_date %>
    <meta content="unavailable_after: <%= (@map_dates.selected_date + 13).to_fs(:db) %>" name="robots"/>
  <% end %>
<% end %>

<% content_for :listings do %>
  <ul>
    <% @map_dates.listing_dates.each do |date| %>
      <li>
        <%= link_to date.to_fs(:listing_date), { date: date.to_fs(:db) }, { class: ["js-update-map", (:selected if date == @map_dates.selected_date)], data: { url: map_socials_path(date.to_fs, format: :json) } } %>
      </li>
    <% end %>
  </ul>
<% end %>
