<nav id="admin_bar">
  <ul class="navlink--wrapper">
    <li class="navlink"><%= link_to "Swing Out London", root_path %></li>
    <li class="navlink"><%= link_to "New Event", new_event_path %></li>
    <li class="navlink"><%= link_to "Events", events_path%></li>
    <li class="navlink"><%= link_to "New Venue", new_venue_path %></li>
    <li class="navlink"><%= link_to "Venues", venues_path %></li>
    <li class="navlink"><%= link_to "New Organiser", new_organiser_path %></li>
    <li class="navlink"><%= link_to "Organisers", organisers_path %></li>
    <li class="navlink navlink-right"><%= link_to current_user.name, account_path%></li>
  </ul>
</nav>
