<%= day_row day, @today%>
    <%= today_label if is_today(day, @today)-%>
    <h3><%= day_header(day) -%></h3>
    <ul class="unstyled">
    <% #get all events from this day: %>

    <%if classes_on_day(@classes, day).empty?%>
        <%= content_tag :li, "There are no classes on this day"%>
    <% else %>
        <% classes_on_day(@classes, day).each do |swingclass|%>
            <%=swingclass_listing(swingclass, day)%>
        <%end%>
    <%end%>
    </ul>
</li>
