%table.events
  %tr
    %th.actions= link_to 'New event', new_event_path
    %th.name      Event Name
    %th.venue     Venue
    %th.area      Area
    %th.class_org Class Organiser
    %th.soc_org   Social Organiser
    %th.day       Day
    %th.fq        Fq.
    %th.dates     Dates
    %th.updated   Last updated

  -events.each do |event|
    %tr{ :class => event.cached_status_string, :id => "event_#{event.id}" }
      - cache(event.index_row_cache_key) do
        -# This cache is expired by EventSweeper
        %td.actions.first= link_to 'Show', event

        %td.name=         link_to event.title, event.url
        %td.venue=        link_to event.venue_name, event.venue
        %td.area=         event.venue_area
        %td.class_org=    organiser_link(event.class_organiser)
        %td.soc_org=      organiser_link(event.social_organiser)
        %td.day=          event.day[0..2]
        %td.fq.center=    event.frequency
        %td.dates<=       event.print_dates_rows
        %td.updated=      event.updated_at.to_s(:uk_date)

        %td.actions.last
          = link_to 'Edit', edit_event_path(event)
          = link_to 'Delete', event, data: { confirm: 'Are you sure you want to delete this event?' }, method: :delete
          = link_to 'Archive', archive_event_path(event), :method => :put
