<% cache [event, event.venue, event.social_organiser, event.class_organiser] do %>
  <tr class="<%= event.status_string %>" id="event_<%= event.id %>">
    <td class="actions first">
      <%= link_to 'Edit', edit_event_path(event) %>
    </td>
    <td class="name">
      <%= link_to event.title, event.url %>
    </td>
    <td class="venue">
      <%= link_to event.venue_name, event.venue %>
    </td>
    <td class="area">
      <%= event.venue_area %>
    </td>
    <td class="class_org">
      <%= organiser_link(event.class_organiser) %>
    </td>
    <td class="soc_org">
      <%= organiser_link(event.social_organiser) %>
    </td>
    <td class="day">
      <%= event.day[0..2] %>
    </td>
    <td class="fq center">
      <%= event.frequency %>
    </td>
    <td class="dates">
      <%= event.print_dates_rows %>
    </td>
    <td class="updated">
      <%= event.updated_at.to_s(:uk_date) %>
    </td>
    <td class="actions last">
      <%= link_to 'Show', event %>
      <%= link_to 'Delete', event, data: { confirm: 'Are you sure you want to delete this event?' }, method: :delete %>
      <%= link_to 'Archive', archive_event_path(event), :method => :put %>
    </td>
  </tr>
<% end %>

