<%= form_with(model: @form, url: submit_path, class: "event-form", data: { controller: "event-form", "event-form-hidden-class" => "hidden" }) do |f| %>
  <%= render "shared/error_messages", target: @form %>

  <section>
    <div class='form-group'>
      <%= f.label :url %>
      <%= f.text_field :url %>
    </div>

    <div class='form-group'>
      <%= f.label :venue_id, 'Venue' %>
      <%= f.select :venue_id, venue_select, { include_blank: true} %>
    </div>

    <div class='form-group'>
      <h4 class="form-group-title">Event Type</h4>
      <% if @form.persisted? %>
        <p><%= t("forms.events.event_type.#{@form.event_type}") %></p>
      <% else %>
        <label data-action="input->event-form#socialDance">
          <%= f.radio_button(:event_type, "social_dance") %>
          <%= t("forms.events.event_type.social_dance") %>
        </label>
        <label data-action="input->event-form#weeklyClass">
          <%= f.radio_button(:event_type, "weekly_class") %>
          <%= t("forms.events.event_type.weekly_class") %>
        </label>
      <% end %>
    </div>
  </section>

  <% if @form.persisted? %>
    <%= render "events/organiser_link", event: @event %>
  <% end %>

  <section data-event-form-target="socialDetails" class="<%= 'hidden' unless @form.show_social_details? %>">
    <h3 class='form-section-title'>Social details</h3>
    <div class='form-group'>
      <%= f.label :title %>
      <p class='help'>Events with a social dance *must* have a title: this is what gets displayed in the listing</p>
      <%= f.text_field :title, data: { event_form_target: "title" } %>
    </div>
    <div class='form-group'>
      <%= f.label :social_organiser_id, 'Social organiser' %>
      <%= f.select :social_organiser_id, organiser_select, { include_blank: '(none)' }, { data: { event_form_target: "socialOrganiser" } } %>
    </div>
    <div class='form-group'>
      <%= f.label :social_has_class, "Has a class?" %>
      <%= f.check_box :social_has_class, data: { action: "event-form#socialClass", event_form_target: "socialHasClass" } %>
    </div>
  </section>

  <section data-event-form-target="classDetails" class="<%= 'hidden' unless @form.show_class_details? %>">
    <h3 class='form-section-title'>Class details</h3>
    <div class='form-group'>
      <%= f.label :class_organiser_id, 'Class organiser' %>
      <%= f.select :class_organiser_id, organiser_select, { include_blank: '(none)' }, { data: { event_form_target: "classOrganiser" } } %>
      <p class='help'>Note: classes don't have names - just locations and organisers</p>
      <p class='help'>The location and organiser name are displayed in the listings.</>
    </div>

    <div class='form-group' id="class-style-selection">
      <h4 class='form-group-title'>Class style</h3>
      <div class='radio-group'>
        <%= radio_button_tag 'class_style_option', 'lindy', @form.class_style.blank? %>
        <%= label_tag :class_style_option_lindy, t('forms.events.default_class_style') %>
      </div>
      <div class='radio-group'>
        <%= radio_button_tag 'class_style_option', 'other', !@form.class_style.blank?, data: { target: 'class-style-group' }%>
        <%= label_tag 'class_style_option_other', 'Other (balboa, shag etc)' %>
      </div>
      <div class='form-group form-group-nested <%= 'hidden' if @form.class_style.blank? %>' id="class-style-group">
        <%= f.label :class_style, "Dance style:" %>
        <%= f.text_field :class_style, data: { event_form_target: "classStyle" } %>
      </div>
    </div>
    <div class='form-group'>
      <%= f.label :course_length %>
      <%= f.text_field :course_length, size: 2, class: "shortfield", data: { event_form_target: "courseLength" }  %> weeks
    </div>
  </section>

  <section data-event-form-target="when" class="<%= 'hidden' unless @form.show_when? %>">
    <h3 class='form-section-title'>When?</h3>
    <div class='form-group' data-event-form-target="frequency">
      <h4 class="form-group-title">Frequency</h4>
      <label>
        <%= f.radio_button(:frequency, 1, data: { action: "event-form#setWeekly", "event-form-target" => "frequencyWeekly" }) %>
        Weekly
      </label>
      <label>
        <%= f.radio_button(:frequency, 0, data: { action: "event-form#setInfrequently" }) %>
        Monthly or occasionally
      </label>
      <% if @form.persisted? && [0, 1].exclude?(@form.frequency) %>
        <p class="help">Legacy frequency: <%= @form.frequency %></p>
      <% end %>
    </div>
    <div class='form-group <%= "hidden" unless @form.weekly? %>' data-event-form-target="daySelect">
      <%= f.label :day %>
      <%= f.select :day, DAYNAMES, include_blank: true %>
    </div>
    <div class='form-group <%= "hidden" unless @form.infrequent? %>' data-event-form-target="datesInput">
      <%= f.label :dates, 'Upcoming dates' %>
      <p class='help'><%= t('forms.help.dates') %></p>
      <%= f.text_field :dates %>
    </div>
    <div class='form-group'>
      <%= f.label :cancellations, 'Cancelled dates' %>
      <p class='help'><%= t('forms.help.dates') %></p>
      <%= f.text_field :cancellations %>
    </div>
    <div class='form-group'>
      <%= f.label :first_date %>
      <p class='help'>The event will only be included in the listings from this date forwards.</p>
      <p class='help'>
        A <span class="new-label">NEW!</span> label will be shown on the listing
        for <%= distance_of_time_in_words(Event::CONSIDERED_NEW_FOR) %> after this date.
      </p>
      <%= f.date_field :first_date %>
    </div>
    <div class='form-group'>
      <%= f.label :last_date %>
      <p class='help'>The event will stop being included in the listings after this date</p>
      <%= f.date_field :last_date %>
    </div>
  </section>

  <div class='form-group actions'>
    <%= f.submit @form.action, class: 'button' %>
    <%= link_to 'Cancel', cancel_path, class: "button button-secondary" %>
  </div>
<% end %>
