<%= form_for(@event) do |f| %>
  <%= render "shared/error_messages", :target => @event %>

  <div class='form-group'>
    <%= f.label :url %>
    <%= f.text_field :url %>
  </div>
  <div class='form-group'>
    <%= f.label :venue_id, 'Venue' %>
    <%= f.select :venue_id, venue_select, {:include_blank => true} %>
  </div>
  <div class='form-group'>
    <%= f.label :event_type %>
    <%= f.select :event_type, event_type_select, {:include_blank => true} %>
  </div>

  <% if @event.persisted? %>
    <h3 class='form-group-title'>Organiser edit link</h3>
    <p id='organiser-token'>
      <% if @event.organiser_token %>
        <%= edit_external_event_url(@event.organiser_token) %>
      <% else %>
        No organiser edit link exists for this event
      <% end %>
    </p>
    <p class='help'>This is a link you can share with an organiser to allow them to add dates and change details</p>
    <%= link_to('New link', event_organiser_tokens_path(@event), method: :post, remote: true, class: 'button')  %>
  <% end %>

  <h3 class='form-group-title'>Social details</h3>
  <div class='form-group'>
    <%= f.label :has_social, "Has social?" %>
    <%= f.check_box :has_social  %>
    <span class='help'>Events with a social dance *must* have a title: this is what gets displayed in the listing</span>
  </div>
  <div class='form-group'>
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>
  <div class='form-group'>
    <%= f.label :social_organiser_id, 'Social organiser' %>
    <%= f.select :social_organiser_id, organiser_select, {:include_blank => true} %>
  </div>

  <h3 class='form-group-title'>Class details</h3>
  <div class='form-group'>
    <%= f.label :has_class, "Has a class?" %>
    <%= f.check_box :has_class  %>
  </div>
  <div class='form-group'>
    <%= f.label :has_taster, "Has a taster?" %>
    <%= f.check_box :has_taster  %>
  </div>
  <p class='help'>Note: classes don't have names - just locations</p>
  <div class='form-group'>
    <%= f.label :class_organiser_id, 'Class organiser' %>
    <%= f.select :class_organiser_id, organiser_select, {:include_blank => true} %>
  </div>
  <div class='form-group'>
    <%= f.label :class_style %>
    <%= f.text_field :class_style %>
    <p class='help'>Leave blank if Lindy Hop or general swing</p>
  </div>
  <div class='form-group'>
    <%= f.label :course_length %>
    <%= f.text_field :course_length, :size => 2, :class =>"shortfield" %> weeks
  </div>

  <h3 class='form-group-title'>When?</h3>
  <div class='form-group'>
    <%= f.label :day %>
    <%= f.select :day, DAYNAMES %>
  </div>
  <div class='form-group'>
    <%= f.label :frequency %>
    every <%= f.text_field :frequency, :size => 2, :class =>"shortfield" %> weeks
    <span class='help'>(For one-off or intermittent events, use 0)</span>
  </div>
  <div class='form-group'>
    <%= f.label :date_array, 'Dates' %>
    <%= f.text_field :date_array, :value => @event.print_dates %>
    <span class='help'>DD/MM/YYYY, separated by commas</span>
  </div>
  <div class='form-group'>
    <%= f.label :cancellation_array, 'Cancelled dates' %>
    <%= f.text_field :cancellation_array, :value => @event.print_cancellations %>
    <span class='help'>DD/MM/YYYY, separated by commas</span>
  </div>
  <div class='form-group'>
    <%= f.label :first_date %>
    <%= f.text_field :first_date, value: @event.first_date.to_s, :size => 10, :class =>"shortfield" %>
    <span class='help'>(only needs to be set for new events, or events starting in the future)</span>
  </div>
  <div class='form-group'>
    <%= f.label :expected_date, 'Next expected' %>
    <%= f.text_field :expected_date, value: @event.expected_date.to_s, :size => 10, :class =>"shortfield"%>
    <span class='help'>If you leave this blank then it will be calculated based on the dates and frequency</span>
  </div>
  <div class='form-group'>
    <%= f.label :last_date %>
    <%= f.text_field :last_date, value: @event.last_date.to_s, :size => 10, :class =>"shortfield"%>
    <span class='help'>The event will stop showing up on the site after this date</span>
  </div>

  <div class='form-group actions'>
    <%= f.submit action, class: 'button' %>
    <%= link_to 'Cancel', cancel_path, class: "button button-secondary" %>
  </div>
<% end %>
