<%= form_for(@event) do |f| %>
  <%= render "shared/error_messages", :target => @event %>

  <!-- WHAT? -->
  <div class='form-group'>
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>
  <div class='form-group'>
    <%= f.label :url %>
    <%= f.text_field :url %>
  </div>
  <div class='form-group'>
    <%= f.label :venue_id, 'Venue' %>
    <%= f.select :venue_id, venue_select, {:include_blank => true} %>
    <%= link_to 'New Venue', new_venue_path %>
  </div>
  <div class='form-group'>
    <%= f.label :social_organiser_id, 'Social organiser' %>
    <%= f.select :social_organiser_id, organiser_select, {:include_blank => true} %>
    <%= link_to 'New Organiser', new_organiser_path %>
  </div>
  <div class='form-group'>
    <%= f.label :class_organiser_id, 'Class organiser' %>
    <%= f.select :class_organiser_id, organiser_select, {:include_blank => true} %>
  </div>
  <div class='form-group'>
    <%= f.label :event_type %>
    <%= f.select :event_type, Event::EVENT_TYPES, {:include_blank => true} %>
    <%= f.label :has_taster, "Has a taster?", :class => 'inline_label'  %>
    <%= f.check_box :has_taster  %>
    <%= f.label :has_class, "Has a class?", :class => 'inline_label'   %>
    <%= f.check_box :has_class  %>
    <%= f.label :has_social, "Has social?", :class => 'inline_label'   %>
    <%= f.check_box :has_social  %>
  </div>
  <div class='form-group'>
    <%= f.label :class_style %>
    <%= f.text_field :class_style %>
  </div>
  <div class='form-group'>
    <%= f.label :course_length %>
    <%= f.text_field :course_length, :size => 2, :class =>"shortfield" %> weeks
  </div>

  <!-- WHEN? -->
  <div class='form-group'>
    <%= f.label :day %>
    <%= f.select :day, DAYNAMES %>
    every <%= f.text_field :frequency, :size => 2, :class =>"shortfield" %> weeks
  </div>
  <div class='form-group'>
    <%= f.label :date_array, 'Dates' %>
    <%= f.text_field :date_array, :value => @event.print_dates %>
  </div>
  <div class='form-group'>
    <%= f.label :cancellation_array, 'Cancelled dates' %>
    <%= f.text_field :cancellation_array, :value => @event.print_cancellations %>
  </div>
  <div class='form-group'>
    <%= f.label :first_date %>
    <%= f.text_field :first_date, value: @event.first_date.to_s, :size => 10, :style => "float:left;", :class =>"shortfield" %>
    <%= f.label :expected_date, 'Next expected date', :class => "inline_label" %>
    <%= f.text_field :expected_date, value: @event.expected_date.to_s, :size => 10, :class =>"shortfield"%>
    <%= f.label :last_date, nil, :class => "inline_label" %>
    <%= f.text_field :last_date, value: @event.last_date.to_s, :size => 10, :class =>"shortfield"%>
  </div>

  <div class='form-group'>
    <%= f.submit action %>
  </div>
<% end %>
