= render partial: 'shared/last_updated_by', locals: { last_update: @last_update }

- if @warning
  %p.warning-message
    %strong Warning:
    = @warning
%ol.show
  %li
    %span Title:
    = @event.title
  %li
    %span Venue:
    = venue_link(@event)
  %li
    %span Class Organiser:
    = organiser_link(@event.class_organiser)
  %li
    %span Social Organiser:
    = organiser_link(@event.social_organiser)
  %li
    %span Event type:
    = @event.event_type
  - unless @event.course_length.nil?
    %li
      %span Course_length:
      = @event.course_length
      weeks
  %li
    %span Class style:
    = @event.class_style.presence || t('forms.events.default_class_style')
  %li
    %span Day:
    = @event.day
  %li
    %span Frequency:
    = @event.frequency
  - unless @event.weekly?
    %li
      %span Dates:
      = @event.dates
  %li
    %span Cancelled:
    = @event.cancellations
  %li
    %span First date:
    = @event.first_date
  %li
    -if @event.last_date
      %span Last date:
      = @event.last_date
    -else
      %span Next expected date:
      = @event.expected_date
  %li
    %span Url:
    = link_to @event.url, @event.url

.actions
  = link_to 'Edit', edit_event_path(@event), class: "button"
