<%= render partial: 'shared/last_updated_by', locals: { last_update: @last_update } %>

<ol class="show">
  <li>
    <span>Title:</span>
    <%= @event.title %>
  </li>
  <li>
    <span>Venue:</span>
    <%= venue_link(@event) %>
  </li>
  <li>
    <span>Class Organiser:</span>
    <%= organiser_link(@event.class_organiser) %>
  </li>
  <li>
    <span>Social Organiser:</span>
    <%= organiser_link(@event.social_organiser) %>
  </li>
  <li>
    <span>Event type:</span>
    <%= @event.event_type %>
  </li>
  <% unless @event.course_length.nil? %>
    <li>
      <span>Course_length:</span>
      <%= @event.course_length %>
      weeks
    </li>
  <% end %>
  <li>
    <span>Class style:</span>
    <%= @event.class_style.presence || t('forms.events.default_class_style') %>
  </li>
  <li>
    <span>Frequency:</span>
    <%= @event.frequency %>
  </li>
  <% unless @event.weekly? %>
    <li>
      <span>Dates:</span>
      <%= @event.dates %>
    </li>
  <% end %>
  <li>
    <span>Cancelled:</span>
    <%= @event.cancellations %>
  </li>
  <li>
    <span>First date:</span>
    <%= @event.first_date %>
  </li>
  <li>
    <span>Last date:</span>
    <%= @event.last_date %>
  </li>
  <li>
    <span>Url:</span>
    <%= link_to @event.url, @event.url %>
  </li>
</ol>

<div class="actions">
  <%= link_to 'Edit', edit_event_path(@event), class: "button" %>
</div>

<% if current_user.admin? %>
  <section class="audit_logs">
    <h3>Activity</h3>
    <p><%= t("audit_log.timezone_note") %></p>

    <% if @audits.none? %>
      (No audit log entries - probably this event pre-dates the audit log)
    <% else %>
      <% @audits.each do |audit| %>
        <% editor = Editor.build(audit) %>
        <p>
        <span class="timestamp">
          [<%= audit.created_at.to_fs(:db) %>]
        </span>
        <span class="editor" title="<%= editor.auth_id %>">
          <%= editor.name %>
        </span>
        <span class="action">
          <%= audit.action %>
        </span>
        <span class="changes">
          <%= audit.audited_changes.to_json %>
        </span>
        <span class="changes">
          <%= audit.comment %>
        </span>
        </p>
      <% end %>
    <% end %>
  </section>
<% end %>
