- if @warning 
  %p.warning-message
    %strong Warning:
    = @warning
%ol.show
  %li
    %span Title:
    = @event.title
  %li
    %span Shortname:
    = @event.shortname
  %li
    %span Venue:
    = venue_link(@event)
  %li
    %span Class Organiser:
    = organiser_link(@event.class_organiser)
  %li
    %span Social Organiser:
    = organiser_link(@event.social_organiser)
  %li
    %span Event type:
    = @event.event_type,
    ="has taster: #{@event.has_taster},"
    ="has class: #{@event.has_class},"
    ="has social: #{@event.has_social}"
  - unless @event.course_length.nil?
    %li
      %span Course_length:
      = @event.course_length weeks
  %li
    %span Class style:
    = @event.class_style
  %li
    %span Day:
    = @event.day
  %li
    %span Frequency:
    = @event.frequency_text
  - unless @event.frequency ==1
    %li
      %span Dates:
      = @event.print_dates
  %li
    %span Cancelled:
    = @event.print_cancellations
  %li
    %span First date:
    = @event.first_date
  %li
    %span Last date:
    = @event.last_date
  %li
    %span Url:
    = link_to @event.url, @event.url

.actions
  = link_to 'Edit', edit_event_path(@event)
  |
  = link_to 'Delete', @event, :confirm => 'Are you sure you want to delete this event?', :method => :delete
  |
  = link_to 'List', events_path(:anchor => "event_\#{@event.id}")
  |
  = link_to 'New event', new_event_path