<ol class="show">
    <li>
        <span>Title:</span>
        <%=h @event.title %>
    </li>
    <li>
        <span>Shortname:</span>
        <%=h @event.shortname %>
    </li>
    <li>
        <span>Venue:</span>
        <%= venue_link(@event) %>
    </li>
    <li>
        <span>Organiser:</span>
        <%= organiser_link(@event) %>
    </li>
    <li>
        <span>Event type:</span>
        <%=h @event.event_type %>
    </li>
    <% unless @event.course_length.nil?%>
    <li>
        <span>Course_length:</span>
        <%=h @event.course_length %> weeks
    </li>
    <% end %>
    <li>
        <span>Class style:</span>
        <%=h @event.class_style %>
    </li>
    <li>
        <span>Day:</span>
        <%=h @event.day %>
    </li>
    <li>
        <span>Frequency:</span>
        <%=h @event.frequency_text %>
    </li>
    
    <% unless @event.frequency ==1%>
    <li>
        <span>Dates:</span>
        <%=h @event.dates %>
    </li>
    <% end %>
    
    <li>
        <span>Cancelled:</span>
        <%=h @event.cancelled_dates %>
    </li>
    
    <li>
        <span>First date:</span>
        <%=h @event.first_date %>
    </li>
    <li>
        <span>Last date:</span>
        <%=h @event.last_date %>
    </li>

    <li>
        <span>Url:</span>
        <%= link_to @event.url, @event.url%>
    </li>
    
</ol>

<div class="actions">
    <%= link_to 'Edit', edit_event_path(@event) %> |
    <%= link_to 'Delete', @event, :confirm => 'Are you sure you want to delete this event?', :method => :delete %> |
    <%= link_to 'List', events_path(:anchor => "event_#{@event.id}") %> |
    <%= link_to 'New event', new_event_path %>
</div>