<%= form_for(@venue) do |f| %>
  <%= render "shared/error_messages", :target => @venue %>

  <div class='form-group'>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div class='form-group'>
    <%= f.label :address %>
    <p class='help'>Separate the parts of the address with commas, and include "<%= tc("city") %>" at the end</p>
    <%= f.text_area :address %>
  </div>
  <div class='form-group'>
    <%= f.label :postcode %>
    <%= f.text_field :postcode %>
  </div>
  <div class='form-group'>
    <%= f.label :area %>
    <p class='help'>Use the nearest tube station unless there's something better</p>
    <%= f.text_field :area %>
  </div>
  <div class='form-group lat-lng'>
    <div class="row">
      <div>
        <%= f.label :lat, 'Latitude' %>
        <%= f.text_field :lat, :size => 15, :class => "shortfield"%>
      </div>
      <div>
        <%= f.label :lng, 'Longitude', :class => "inline_label" %>
        <%= f.text_field :lng, :size => 15, :class => "shortfield"%>
      </div>
      <%=link_to "(get from web)", "https://www.freemaptools.com/convert-uk-postcode-to-lat-lng.htm", class: "normal-link" %>
    </div>
    <p class='help'>If you leave Latitude and Longitude blank, they will be automatically calculated based on postcode</p>
  </div>
  <div class='form-group'>
    <%= f.label :website %>
    <%= f.text_field :website %>
  </div>
  <div class='form-group actions'>
    <%= f.submit action, class: "button" %>
    <%= link_to 'Cancel', cancel_path, class: "button button-secondary" %>
    <%= conditional_delete_tag(@venue) %>
  </div>
<% end %>
