<%= form_for(@venue) do |f| %>
<%= render "shared/error_messages", :target => @venue %>

<ol>
	<li>
		<%= f.label :name %>
		<%= f.text_field :name %>
	</li>
	<li>
		<%= f.label :address %>
		<%= f.text_area :address %>
	</li>
	<li>
		<%= f.label :postcode %>
		<%= f.text_field :postcode %>
	</li>
	<li>
		<%= f.label :area %>
		<%= f.text_field :area %>
	</li>
	<li>
		<%= f.label :nearest_tube %>
		<%= f.text_field :nearest_tube %>
	</li>
	<li>
		<%= f.label :compass %>
		<%= compass_dropdown(f) %>
	</li>
	<li>
    <%= f.label :latitude %>
    <%= f.text_field :lat, :size => 15, :style => "float:left;", :class => "shortfield"%>
    <%= f.label :longitude, nil, :class => "inline_label" %>
    <%= f.text_field :lng, :size => 15, :class => "shortfield"%>
    <%=link_to "(get from web)", "http://www.doogal.co.uk/LatLong.php"%>
  </li>
	<li>
		<%= f.label :website %>
		<%= f.text_field :website %>
	</li>
	<li>
		<%= f.submit action %>
	</li>
</ol>
<% end %>