<h1>Listing venues</h1>
<%= link_to 'New venue', new_venue_path %>

<table id="venues">
  <tr>
    <th>Name</th>
    <th>Address</th>
    <th>Postcode</th>
    <th>Area</th>
    <th>Nearest tube</th>
  </tr>

<% @venues.each do |venue| %>
  <%= venue_row_tag(venue) %>
    <td class="name"><%= link_to venue.name, venue.website%></td>
    <td><%=h venue.address %></td>
    <td style="width:70px"><%=h venue.postcode %></td>
    <td style="width:180px"><%=h venue.area %></td>
    <td><%=h venue.nearest_tube %></td>
    <td class="actions">
      <%= link_to 'Show', venue %>
      <%= link_to 'Edit', edit_venue_path(venue) %>
      <%= link_to 'Destroy', venue, :confirm => 'Are you sure?', :method => :delete %>
    </td>
  </tr>
<% end %>
</table>

<%= link_to 'New venue', new_venue_path %>

