<%= render partial: 'shared/last_updated_by', locals: { last_update: @last_update } %>

<ol class="show">
  <li>
    <span>Name:</span>
    <%=h @venue.name %>
  </li>

  <li>
    <span>Address:</span>
    <%=h @venue.address %>
  </li>

  <li>
    <span>Postcode:</span>
    <%=h @venue.postcode %>
  </li>

  <li>
    <span>Area:</span>
    <%=h @venue.area %>
  </li>

  <li>
    <span>Coordinates:</span>
    <%= link_to @venue.coordinates, google_maps_url(@venue.lat, @venue.lng) %>
  </li>

  <li>
    <span>Website:</span>
    <%= link_to @venue.website, @venue.website %>
  </li>
</ol>

<% if @associated_events.any? %>
  <section>
    <h3>Associated Events</h3>
    <ul>
      <% @associated_events.each do |event| %>
        <li><%= link_to event.summary, event.link %></li>
      <% end %>
    </ul>
  </section>
<% end %>

<div class="actions">
  <%= link_to 'Edit', edit_venue_path(@venue), class: "button" %>
  <%= link_to 'New Event at this venue', new_event_path( venue_id: @venue.id), class: "button button-secondary" %>
</div>
