<h1><%= @event.has_social? ? @event.title : "Dance class by #{ @event.class_organiser.name }" %></h1>

<%= form_for(@event, url: external_event_path(@event.organiser_token)) do |f| %>
  <% if flash.any? %>
    <ul>
      <% flash.each do |level, message| %>
        <li class='flash <%= level %>'><%= message %></li>
      <% end %>
    </ul>
  <% end %>

  <%= render "shared/error_messages", target: @event %>

  <div class='form-group'>
    <label>URL</label>
    <p><%= link_to @event.url, @event.url %></p>
  </div>

  <div class='form-group'>
    <%= f.label :venue_id, 'Venue' %>
    <%= f.select :venue_id, venue_select, {:include_blank => true} %>
  </div>

  <div class='form-group'>
    <label>Frequency</label>
    <% if @event.weekly? %>
      <p>Every <%= @event.day %></p>
    <% else %>
      <p>Occasional</p>
    <% end %>
  </div>

  <% unless @event.weekly? %>
    <div class='form-group'>
      <%= f.label :date_array, 'Upcoming dates' %>
      <p class='help'><%= t('forms.help.dates') %></p>
      <%= f.text_field :date_array, :value => @event.print_dates %>
    </div>
  <% end %>

  <div class='form-group'>
    <%= f.label :cancellation_array, 'Cancelled dates' %>
    <p class='help'><%= t('forms.help.dates') %></p>
    <%= f.text_field :cancellation_array, :value => @event.print_cancellations %>
  </div>

  <div class='form-group'>
    <%= f.label :last_date %>
    <%= f.text_field :last_date, value: @event.last_date.to_s, :size => 10, :class =>"shortfield"%>
    <span class='help'>The event will stop showing up on the site after this date</span>
  </div>

  <div class='form-group actions'>
    <%= f.submit 'Update', class: 'button' %>
  </div>
<% end %>
