<h1><%= @event.has_social? ? @event.title : "Dance class by #{ @event.class_organiser.name }" %></h1>

<%= form_for(@form, url: external_event_path(@event.organiser_token)) do |f| %>
  <%= render "shared/flash" %>
  <%= render "shared/error_messages", target: @form %>

  <div class='form-group'>
    <% if !@event.weekly? %>
      <label>Status</label>
      <p class="<%= @status.css_class %>"><%= @status.description %></p>
    <% end %>
  </div>

  <div class='form-group'>
    <label>URL</label>
    <p><%= link_to @event.url, @event.url %></p>
  </div>

  <div class='form-group'>
    <%= f.label :venue_id, 'Venue' %>
    <%= f.select :venue_id, venue_select, {include_blank: true} %>
  </div>

  <div class='form-group'>
    <label>Frequency</label>
    <% if @event.weekly? %>
      <p>Every <%= @event.day %></p>
    <% else %>
      <p>Occasional</p>
    <% end %>
  </div>

  <% unless @event.weekly? %>
    <div class='form-group'>
      <%= f.label :dates, 'Upcoming dates' %>
      <p class='help'><%= t('forms.help.dates') %></p>
      <%= f.text_field :dates %>
    </div>
  <% end %>

  <div class='form-group'>
    <%= f.label :cancellations, 'Cancelled dates' %>
    <p class='help'><%= t('forms.help.dates') %></p>
    <%= f.text_field :cancellations %>
  </div>

  <% if @event.weekly? || (@event.infrequent? && @event.last_date.present?) %>
    <section>
      <h3 class="form-section-title">Is this event ending or taking a break?</h3>
      <div class='form-group'>
        <%= f.label :last_date %>
        <p class='help'>The event will stop showing up on the site after this date</p>
        <%= f.date_field :last_date, value: @form.last_date %>
      </div>
    </section>
  <% end %>

  <div class='form-group actions'>
    <%= f.submit 'Update', class: 'button' %>
    <%= link_to 'Cancel', edit_external_event_path(@event.organiser_token), class: "button button-secondary" %>
  </div>
<% end %>
