<main class="page">
  <h1>Audit Log</h1>
  <p><%= t("audit_log.timezone_note") %></p>

  <% @audits.each do |audit| %>
    <% editor = Editor.build(audit) %>
    <p>
      <span class="timestamp">
        [<%= l(audit.created_at, format: :iso_no_zone) %>]
      </span>
      <span class="editor" title="<%= editor.auth_id %>">
        <%= editor.name %>
      </span>
      <span class="action">
        <%= audit.action %>
      </span>
      <span class="record">
        <%= link_to "#{audit.auditable_name}(#{audit.auditable_id})", audit.auditable_url %>
      </span>
      <span class="changes">
        <%= audit.audited_changes.to_json %>
      </span>
      <span class="changes">
        <%= audit.comment %>
      </span>
    </p>
  <% end %>
</main>
