<main class="page">
  <h1>Audit Log</h1>
  <p><%= t("audit_log.timezone_note") %></p>

  <table>
  <% @audits.each do |audit| %>
    <% editor = Editor.build(audit) %>
    <tr>
      <td class="timestamp" style="min-width: 70px">
        <%= l(audit.created_at, format: :iso_no_zone) %>
      </td>
      <td class="editor" title="<%= editor.auth_id %>">
        <%= editor.name %>
      </td>
      <td class="action">
        <%= audit.action %>
      </td>
      <td class="record">
        <%= link_to "#{audit.auditable_name}(#{audit.auditable_id})", audit.auditable_url %>
      </td>
      <td>
        <span class="changes">
          <%= audit.audited_changes.to_json %>
        </span>
        <span class="changes">
          <%= audit.comment %>
        </span>
      </td>
    </tr>
  <% end %>
  </table>
</main>
