#site_intro
  %p
    Swing Out London lists all of the regular
    = link_to "Swing Dance classes", {:anchor => "classes_today"}, {:rel =>"subsection"}
    in London which teach
    = succeed "," do
      = link_to "Lindy Hop", {:action => "about", :anchor=> "about_lindy"}, {:rel =>"subsection"}
    Charleston, Balboa, Blues, Collegiate Shag and Authentic Jazz.
  %p
    It also lists all of the opportunities for
    = link_to "social dancing", {:anchor => "socials_today"}, {:rel =>"subsection"}
    to vintage jazz music.

#note
  %p
    If you think something is missing or incorrect please
    = mail_to CONTACT_EMAIL, "Email", :subject => "Swing Out London"
    (but check the
    =link_to "listings policy", :action => "listings_policy"
    first)

#soldn_on_the_web
  = render partial: 'advert', locals: { advert: ad }

  - # Foo for the facebook like button:
  #fb-root
  :javascript
    (function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));

  #social_links
    %a.fb-like{ :href => "https://www.swingoutlondon.co.uk", "data-action" => "like", "data-share" => "true", "data-layout" => "button_count", "data-font" => "trebuchet ms" } Like Swing Out London on Facebook

= render :partial => 'website/navigation', :locals => { :nav_id => 'main_nav', nav_class: "navigation primary-nav" }
