<% #Site navigation - used in header and footer %>
<ul class="<%= nav_class %>" id="<%= nav_id %>">
  <li class="first">
    <%= nav_link 'Listings', root_path,  { :rel => "start" } %>
  </li>
  <li>
    <%= nav_link 'Map', map_path, { :rel => "section" } %>
  </li>
  <li class="about_link">
    <%= nav_link 'About', about_path, { :rel => "section" } %>
  </li>
  <li>
    <%= nav_link 'Listings Policy', listings_policy_path, { :rel => "section" } %>
  </li>
</ul>
