<div id="site_description">
    <p>Swing Out London lists all of the regular <%= link_to "dance classes", {:anchor => "classes_today"}, {:rel =>"subsection"}  %> in London teaching <%= link_to "Lindy Hop", {:action => "about", :anchor=> "about_lindy"}, {:rel =>"subsection"}  %> and related styles like Balboa and Blues.</p>

    <p>We also list all of the <%= link_to "social dancing", {:anchor => "socials_today"}, {:rel =>"subsection"}  %> opportunities for those styles including dedicated swing dance socials, vintage clubs and selected gigs from swing bands.</p>
    
    <p>Please <%= mail_to CONTACT_EMAIL, "Email us", :subject => "Swing Out London" %> if you think something is missing or incorrect.</p>
    
    
</div>

<div id="social_media">
    <p id="like_message">Show us some Facebook love: <fb:like href="http://www.swingoutlondon.co.uk" action="like" layout="button_count" font="trebuchet ms"></fb:like></p>   
    <p id="tweet_message">Tell the world about us on twitter: 
        <%=link_to "Tweet" ,"http://twitter.com/share", {
            :class =>"twitter-share-button",
            "data-count" =>"horizontal",
            "data-url" =>"http://www.swingoutlondon.co.uk",
            "data-text" =>"Swing Out London lists Lindy Hop classes and social dancing in London:",
            "data-related" =>"swingevents:Listing Lindy and blues camps and exchanges in the UK and Europe"} %></p>
    <p id="twitter_follow"> <%= link_to "Follow us on Twitter", "http://www.twitter.com/swingoutlondon", :title => "Swing Out London on Twitter"%> for changes and breaking news:</p> 
    
    <p id="latest_tweet"><%= raw tweet_message %></p>
    
</div>

<p id="caveat"> <strong>Please note:</strong> The listings shown are only a guide and you should always check the source website before making any plans.</p>


