#site_description
  %p 
    Swing Out London lists all of the regular
    = link_to "dance classes", {:anchor => "classes_today"}, {:rel =>"subsection"} 
    in London teaching 
    = link_to "Lindy Hop", {:action => "listings_policy", :anchor=> "about_lindy"}, {:rel =>"subsection"}
    and related styles like Balboa and Blues.
  %p 
    We also list all of the
    = link_to "social dancing", {:anchor => "socials_today"}, {:rel =>"subsection"}
    opportunities for those styles including dedicated swing dance socials, vintage clubs and selected gigs from swing bands.
  %p 
    Please
    = mail_to CONTACT_EMAIL, "Email us", :subject => "Swing Out London"
    if you think something is missing or incorrect (please check the 
    =link_to "listings policy", :action => "listings_policy"
    first).

#social_media
  - # Foo for the facebook like button:
  #fb-root
  :javascript
    (function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
  %p#like_message
    Show us some Facebook love:
    %span.fb-like{ "data-href" => "http://www.swingoutlondon.co.uk", "data-action" => "like", "data-layout" => "button_count", "data-send" => "true", "data-font" => "trebuchet ms" }
  %p#tweet_message
    Tell the world about us on twitter:
    =link_to "Tweet" ,"http://twitter.com/share", { :class =>"twitter-share-button", "data-count" =>"horizontal", "data-url" =>"http://www.swingoutlondon.co.uk", "data-text" =>"Swing Out London lists Lindy Hop classes and social dancing in London:", "data-related" =>"swingevents:Listing Lindy and blues camps and exchanges in the UK and Europe" }
  %p#twitter_follow
    = link_to "Follow us on Twitter", "http://www.twitter.com/swingoutlondon", :title => "Swing Out London on Twitter"
    for changes and breaking news:
  %p#latest_tweet= display_tweet(@tweet)

%p#caveat
  %strong Please note:
  The listings shown are only a guide and you should always check the source website before making any plans.