#about_swingoutlondon.content
  = render partial: "about_swingoutlondon"

#about_me.sidebar.first
  = render partial: "about_me"

.sidebar
  = render partial: "swing_bands"

.sidebar
  = render partial: "show_love"
  
#colophon
  = render partial: "colophon"








