<div id="about_swingoutlondon">
	<h2>About the site</h2>

    <p>This website is mainly for <%= link_to "Me", :anchor => "about_me" %>. There - I've said it: it presents the information I want to see, the way I want to see it and it's my main way of personally deciding where I want to dance. If it's useful to other people as well, then I'm very glad.</p>

    <p>We are incredibly privileged in London to have such a great range of opportunities for dancing available to us. The problem is finding out about those opportunities.</p>

    <p>I was frustrated when starting out that I couldn't find any comprehensive Lindy Hop listings and although I later found out about existing services like <%= link_to "Swing Junction", "http://www.swingjunction.co.uk/modules/piCal/index.php?cid=1"%> , <%= link_to "Swing Dancers Of London", "http://www.swingdancersoflondon.org/"%> and Judy's List (an email list - ask an experienced dancer) they don't provide exactly what I wanted, so I decided to make my own site (as you do).</p>

    <p>In some respects London is a depressingly divided scene with a lot of dancers unaware of what's going on outside the bubble of the first swing school they came across.</p>
	
	<p>I think that independent community-founded organisations like <%= link_to "Swing Dancers Of London", "http://www.swingdancersoflondon.org/"%> and the <%= link_to "London Lindy Exchange", "http://londonlindyexchange.com/ "%> are really important and I want to follow in their footsteps by providing a great service independently of any of the swing schools. </p>

    <p>If you like Swing Out London and find it useful, please consider linking to it from your Blog, Facebook, <%= link_to "Twitter", "http://twitter.com/swingoutlondon", :title => "Swing Out London on Twitter"%> or personal website: this really helps Google to know that people are interested and will make it easier for others to find the site. </p>
    
    <p>
    	This site is very much a work in progress - currently it shows weekly classes, and clubs/socials for the next 14 days. See <a href="#development">Development</a> below for details.
    </p>

    <p>Swing Out London has been live since August 2010 and the listings were last updated at <%=@last_updated_time%> on  <%=@last_updated_date%>.</p>
</div>


<div id="scope">
	<h2>What we cover</h2>
	<p>
		At least to start with the listings will focus on <em>regular</em> events: weekly classes teaching primarily Lindy Hop, and weekly and monthly clubs and social dances where Lindy Hop can be danced. Blues, Balboa and 20s Charleston will also be considered, but nights which are primarily 50's Jive or Rock and Roll are out.
	</p>
	<p>
		Personally I love to dress up and go to vintage clubs: while the dancing usually isn't great, for me it's all an extension of the experience, so I'm going to cover these (most listings don't).  
	</p>
	<p>
		Listings are primarily for events within the M25 and usually those which are on the London transport network (i.e. places you can get a night bus home from!). 
	</p>
</div>



<div id="about_me">
	<h2>About me</h2>
	<p>I live in South London, I've been dancing Lindy since late 2009, and I love it.</p>
	<p>I have a blog called "<%= link_to "Why I Dance...", "http://whyidance.tumblr.com/"%>" which does exactly what it says on the tin.</p>
	<p>Leads in London don't get to meet and talk to each other so much, so I organise <%= link_to "London Lindy Leads Dinners", "http://www.facebook.com/home.php?sk=group_147221981989905"%> to try and fix that.</p>
	<p>I dance all over town and I've tried to have lessons from each of the London swing schools. I mainly dance Lindy Hop (6 &amp; 8 count and charleston), but also some Blues and I'm keen to learn more 1920's style Charleston.</p>
	<p>Please send any comments, corrections or listings to <a href="mailto:leveretweb@googlemail.com?subject=Swing Out London">leveretweb@googlemail.com</a>.</p>
</div>

<div id="about_lindy">
	<h2>What is the Lindy Hop?</h2>
	<p><a href="http://en.wikipedia.org/wiki/Lindy_Hop" title="Wikipedia - Lindy Hop">The Lindy Hop</a> or <q>Jitterbug</q> is a fun and dynamic swing dance of the 1930's and 40's, mainly danced to Big Band Swing and Hot Jazz.</p>
	<p>
		Here are some YouTube clips of Lindy Hop from 
		<a href="http://www.youtube.com/watch?v=mTg5V2oA_hY" title="YouTube - Lindy Hop - Hellzapoppin (1941)"> 
			a classic film</a>, 
		<a href="http://www.youtube.com/watch?v=LAAAV7BB1HU" title="YouTube - Lindy Hop Showdown">
			a modern competition</a>, and 
		<a href="http://www.youtube.com/watch?v=XlKCJZt2yzE" title="YouTube - Swing Patrol London - Greenwich Class - 3/06/09">
			a beginners class in London</a>.
	</p>
	
</div>


<div id="colophon">
	<h2>Colophon</h2>

	<ul>
		<li>The styling of the site was inspired by vintage playbills, magazine listings and event posters. The primary font used is <a href="http://en.wikipedia.org/wiki/Futura_(typeface)" title="Wikipedia - Futura">Futura</a> (falling back to Trebuchet MS on Windows) which was designed in 1927.</li>
		<li>The vintage wallpaper in the background is by <a href="http://zebiii.deviantart.com/" title="ZeBii on DeviantArt">ZeBii on DeviantArt</a>. You can get it <a href="http://zebiii.deviantart.com/art/Patterns-2-94330934" title="Patterns.2 by ZeBii on DeviantArt">here</a>.</li>
		<li>This site was written on a Mac, mainly using <a href="http://www.firefox.com" title="Firefox web browser">Firefox</a> with the following plugins:	

			<ul class="textlist">
				<li><a href="http://getfirebug.com/" title="Firebug">Firebug</a> with <a href="http://tools.sitepoint.com/codeburner/" title="CodeBurner - Reference Tool for Web Developers">Code Burner</a>;</li>
				<li>The <a href="http://chrispederick.com/work/web-developer/" title="Web Developer">Web Developer</a> toolbar;</li>
				<li>
					<a href="http://www.colorzilla.com/firefox/" title="ColorZilla for Firefox - Eyedropper, Color Picker and much more">ColorZilla</a> and <a href="http://www.kevinfreitas.net/extensions/measureit/" title="MeasureIt - Firefox ruler extension for web developers">MeasureIt</a>.</li>
			</ul>
			
		</li>
		<li>The site sits on a custom-built <a href="http://rubyonrails.org/" title="Ruby on Rails">Ruby on Rails</a> CMS, which I wrote from scratch. I plan to make this available as open source, once I've figured out how to do that...</li>
		<li><a href="http://www.codestyle.org/servlets/FontStack" title="Font Stack Builder">CodeStyle's Font Stack Builder</a> and <a href="http://www.identifont.com/similar.html" title="Identifont">Identifont</a> came in handy for picking fonts.</li>
		<li>The site is currently hosted on <a href="https://www.asmallorange.com/" title="A Small Orange">A Small Orange</a>.</li>
	</ul>
</div>

<div id="development">
	<h2>Development</h2>
	<p>
		I'm not a professional web designer and I'm not making any money from this, so I'm piecing this site together bit by bit in my spare time. How much it gets developed depends largely on whether anyone uses it. Features I'm thinking of adding include:
	</p>
	<ul class="textlist">
		<li>A links page</li>
		<li>A more detailed listing of Classes and Socials</li>
		<li>Displaying events optionally either alphabetically or by date</li>
		<li>Venue details and listing by venue</li>
		<li>Googlemaps on each event and venue page</li>
		<li>Swing School and promoter details and listings by these.</li>
		<li>A consolidated Google map showing all locations.</li>
		<li>Attempting to add Workshop details as well (though that could be very time consuming)</li>
		<li>Details of weekenders, exchanges and balls outside of London.</li>
		<li>Integration with Google Calendar</li>
		<li>Integration with Twitter</li>
		<li>User Submitted reviews</li>
		<li>Better ways for users to feed back corrections and new listings</li>
	</ul>
</div>



