<div id="classes">
    
    <h2> <em>Learn!</em> Weekly Classes </h2>
    
    <ul class="daylist">
    <% DAYNAMES.each do |day| %>
        <%= day_row day %>
            <%= today_label day -%>
            <h3><%=day -%></h3>
            <ul>
            <% #get all events from this day: %>
            
            <%if classes_on_day(day).empty?%>
                <%= content_tag :li, "There are no classes on this day"%>      
            <% else %>
                <% classes_on_day(day).each do |swingclass|%>
                    <%=swingclass_listing(swingclass)%>
                <%end%>
            <%end%>
            </ul>
        </li>
    <% end %>
    </ul>
</div>

<div id="socials">
    <%= socialsh2 do %> 
        <em>Dance!</em> Clubs and Social dancing
    <%end%>

    <p id="key">
        N.B. Infrequent events are prefixed with a <img alt="asterisk" src="../images/highlight_icon.png" />
    </p>
    
    <ul class="datelist">
    <% reset_cycle "row_cycle"%>
    <% @socials_dates.each do |date,socials| %>
        <%= date_row date %>
            <h3><%= today_label date %> <%= tomorrow_label date %> <%=date.to_s(:listing_date)%></h3>
            <ul>
            <% socials.each do |social| %>
                <%= social_listing(social, date) %>
            <% end %>
            
            </ul>
        </li>
    <% end %>
    </ul>
</div>
