- content_for :head do
  -# FaceBook and twitter js
  %script{ src: "https://platform.twitter.com/widgets.js", type: "text/javascript" }

  -# Facebook open graph tags
  %meta{ property: "og:title",        content: "Swing Out London - Lindy Hop Listings" }/
  %meta{ property: "og:site_name",    content: "Swing Out London" }/
  %meta{ property: "og:description",  content: "Swing Out London is a listing of weekly Lindy Hop classes, regular socials, swing gigs and vintage clubs" }/
  %meta{ property: "og:type",         content: "website" }/
  %meta{ property: "og:url",          content: "https://www.swingoutlondon.co.uk" }/
  %meta{ property: "og:image",        content: "https://www.swingoutlondon.co.uk/swingoutlondon_og.png" }/
  %meta{ property: "fb:app_id",       content: Rails.configuration.x.facebook.app_id }/
  %meta{ property: "fb:admins",       content: "dgmstuart" }/

- content_for :navigation do
  = render "website/listing_navigation", ad: @ad

- content_for :page_content do
  %p#caveat
    %strong Please note:
    The listings below are only a guide. Always check the source website before making any plans

  #classes
    %h2
      %em Learn!
      Weekly Classes
    = render "events/class_listings"
  #social_dances
    = socialsh2(@socials_dates) do
      %em Dance!
      Clubs and Social dancing

    %p#key
      N.B. Infrequent events are prefixed with a
      = image_tag "highlight_icon.png", alt: "asterisk"
    = render "events/social_listings"

    %p.note Swing Out London lists the next 14 days of events
