<div id="about_lindy" class="sidebar">
	<h3 class="section_heading">What is Lindy Hop?</h3>
	<p><a href="http://en.wikipedia.org/wiki/Lindy_Hop" title="Wikipedia - Lindy Hop">The Lindy Hop</a> is a fun and dynamic swing dance of the 1930's and 40's, mainly danced to Big Band Swing and Hot Jazz.</p>
	<p>
		Here are some YouTube clips to give you an idea:
		<ul>
		    <li><%= link_to "The 2010 competition routine that has been blowing everyone's minds", "http://www.youtube.com/watch?v=X1me6wfoqI4", :title => "YouTube - ILHC 2010 - Showcase - Max Pitruzzella & Annie Trudeau"%></li>
		      <li><%= link_to "Something a little older and less insane, but equally amazing", "http://www.youtube.com/watch?v=NEtG4F4JWOo", :title => "Skye & Frida - ULHS 2007 - Couples Division"%> </li>
		      <li><%= link_to "Some real-life social dancing in the US", "http://www.youtube.com/watch?v=Jv6dOiIFaMI"%></li>
		      <li><%= link_to "A beginner's class in London", "http://www.youtube.com/watch?v=DD84kBRSb7g", :title=>"YouTube - Swing Patrol London - Angel Class - 08/11/2010" %></li>
		      <li><%= link_to "The iconic clip from the Movie Hellzapoppin", "http://www.youtube.com/watch?v=mTg5V2oA_hY", :title =>"YouTube - Lindy Hop - Hellzapoppin (1941)" %> </li>
	    </ul>
	</p>
	
</div>

<div id="policy">
	<h1 id="listings_policy_header" class="section_heading">Listings Policy</h1>
    <p>Here's what you can expect to be listed on Swing Out London:</p>
    <ul id="listings_policy">  
        <li>
            <h3>20s-40's Dance styles </h3>
            <p>The focus is on <% link_to "Lindy Hop", "http://en.wikipedia.org/wiki/Lindy_Hop" %> (6 &amp; 8 count and 30's Charleston) but 
                <%= link_to "Blues", "http://en.wikipedia.org/wiki/Blues_dance#Blues_dancing_in_the_contemporary_swing_dance_community" %>,
                <%= link_to "Balboa", "http://en.wikipedia.org/wiki/Balboa_(dance)"%>,
                <%= link_to "Shag", "http://en.wikipedia.org/wiki/Collegiate_shag"%>, 
                and 
                <%= link_to "1920's Charleston", "http://en.wikipedia.org/wiki/Charleston_(dance)"%> are also listed since many Lindyhoppers also dance these styles. 
            </p>
            <p><%= link_to "Jitterbug", "http://swungover.wordpress.com/2010/11/09/the-definition-of-jitterbug/" %> is included (on the borderline), but generally nights which are primarily 50's Jive or Rock and Roll are out, as are modern jive, west coast swing and anything of that sort.</p>
            <p> The world seems to Love <%= link_to "Electro Swing", "http://en.wikipedia.org/wiki/Electroswing" %> at the moment, but I don't, so it's out. If you're really interested, there's a regular night at <%= link_to "The Book Club", "http://www.wearetbc.com/" %> in Shoreditch.</p>
        </li>   
        <li>
            <h3>Only in London </h3>
            <p>Listings are only for events within the M25 and usually those which are on the London transport network (i.e. places you can get a night bus home from!).</p>
        </li>   
        <li>
            <h3>Regular classes...</h3>
            <p>I try and list all of the <em>regular</em> dance lessons for the dance styles mentioned above - that means weekly drop-in classes and also courses which take place over a number of weeks but repeat regularly. </p>
        </li>   
        <li>
            <h3>...but not workshops</h3>
            <p>There are also many one-off workshops and classes going on in London, but keeping track of those is much more than I can handle: try the websites of the individual swing schools to find out about these.</p>
    
            <p>I will however tweet about anything particularly interesting coming up (especially <%= link_to "aerials", "http://en.wikipedia.org/wiki/Aerial_(dance_move)"%> workshops) on the <%= link_to "Swing Out London twitter feed", "http://twitter.com/swingoutlondon", :title => "Swing Out London on Twitter"%>.</p>
            
            <p>For more substantial weekend camps and exchanges in the UK and Europe, look no further than the excellent <%= link_to "Swing Events", "http://www.swingevents.co.uk/"%>, run by a London dancer.</p>
        </li>   
        <li>
            <h3>All social dancing...</h3>
            <p>I try and list all of the opportunities for dancing Lindy Hop in London over the next 14 days and the main nights for related styles.</p> 
        </li>   
        <li>    
            <p>The exceptions are smaller venues like <%= link_to "The Swan at The Globe", "http://www.swanattheglobe.co.uk/#/newscontact/events/"%> and <%= link_to "The Quecumbar", "http://www.quecumbar.co.uk/"%>: while they put on great Swing bands, they can only accommodate a handful of Balboa dancers at best and aren't really suitable for <%= link_to "lindy-bombing", "http://wikibin.org/articles/lindy-bombing.html"%>.</p>
        </li>   
        <li>
            <h3>...including vintage clubs</h3>
            <p>I Love getting dressed up in vintage attire and going out to a club like <%= link_to "the Blitz party", "www.theblitzparty.com"%> or <%= link_to "Die Freche Muse", "http://www.diefrechemuse.co.uk/"%> where the music is swinging and everyone looks fabulous. These nights aren't aimed at dancers, but if you Bring Your Own there's often a great time to be had, as well as a crowd of admiring Civilians (non-dancers).</p>
        </li>   
        <li>
            <h3>...and swing gigs</h3>
            <p>London has a solid bunch of trad jazz and swing bands like <%= link_to "The Shirt Tail Stompers", "http://shirttailstompers.com/"%>, <%= link_to "Top Shelf Jazz", "http://www.topshelfjazz.co.uk/"%> and <%= link_to "The Sax Pastilles", "www.saxpastilles.co.uk/"%> playing great dancing music. You'll see them around town playing Lindy socials, but they also sometimes play straight gigs where there is room to dance. Again it's usually a case of <acronym title="Bring Your Own">BYO</acronym> dancers.</p>
        </li>
    </ul>

</div>