%section.content
  %h1 Listings Policy
  %p
    This page is aimed at promoters and event organisers. I get a lot of requests to list events which 
    aren't really a good fit for the site.
    The policy below is designed to pre-empt some of these by trying to codify the criteria that I use.
  %p 
    Lindy Hop is a street dance: it has no clear definition and isn't governed by any authority.
    The figures, style and aesthetics of the dance are a matter of personal preference,
    as is the music that it is danced to.
    Swing Out London lists events based upon one particular view of the dance -
    largely informed by the big European swing dance camps.
  %p 
    It's hard to say no, so please read this page carefully and if you're unclear on anything, please ask.
    If your event doesn't fit into the criteria below I'll be happy to give you a list of other 
    listings sites and services which have a broader policy.
  
  %h2 Location
  %p
    Swing Out London only lists events on the core London transport network (i.e. places you can easily get a night bus home from!). Check out the #{ link_to "map", "/map" }: if it's further out than the outlying events shown, it's probably too far.
    
    %h2 Classes
    %p 
      I'd love to be able to list the many one-off workshops happening in London, 
      but keeping track of them is much more than I can handle.
    %p 
      However, I do often mention particularly interesting workshops on the
      = link_to "twitter feed", TWITTER_URL, :title => "Swing Out London on Twitter"
      and
      = succeed ',' do
        = link_to "Facebook page", FACEBOOK_URL, :title => "Swing Out London on Facebook"
      especially those involving international teachers.


    %table#classes_policy
      %thead
        %tr
          %th Yes
          %th No
      %tbody
        %tr.first
          %td 
            %ul.unstyled
              %li= link_to "Lindy Hop", "http://en.wikipedia.org/wiki/Lindy_Hop"
              %li= link_to "Charleston", "http://en.wikipedia.org/wiki/Charleston_(dance)"
              %li= link_to "Authentic Jazz", "http://uptownswing.co.uk/authentic-jazz/"
              %li= link_to "Balboa", "http://en.wikipedia.org/wiki/Balboa_(dance)"
              %li= link_to "Blues", "http://en.wikipedia.org/wiki/Blues_dance#Blues_dancing_in_the_contemporary_swing_dance_community"
              %li= link_to "Collegiate Shag", "http://en.wikipedia.org/wiki/Collegiate_shag"
          %td 
            %ul.unstyled
              %li Jive
              %li Rock and Roll
              %li Boogie Woogie
              %li West Coast Swing
              %li Modern Jive (Ceroc etc.)

        %tr
          %td Regular Weekly or Fortnightly classes
          %td One-off workshops
        %tr 
          %td A regularly repeating course (e.g. of 4-6 weeks)
          %td A Taster/Introductory class before a regular social

    %h2 Social Dancing
    %p
      For non-weekly events, to ensure the accuracy of listings I only list dates which are definitely confirmed:
      I think it's better to miss listing an event than to assume it will be happening and risk a disappointed dancer turning up to find it cancelled, changed or moved. 
    %p  
      A number of music venues regularly host swing bands but don't really have enough space 
      for more than one or two couples. These events aren't listed. Examples are
      = link_to "The Quecumbar", "http://www.quecumbar.co.uk/"
      and
      = succeed '.' do
        = link_to "Round Midnight", "http://www.roundmidnightbar.com/"

    %table#socials_policy
      %thead
        %tr
          %th Yes
          %th No
      %tbody
        %tr.first
          %td Social dances aimed at the dance styles listed above
          %td 
        %tr
          %td Nightclubs and Vintage events where the majority of the music played is listed below
          %td Crossover nights: Swing alongside Soul, Funk, Ska etc.
        %tr
          %td Swing gigs with room for at least 4 couples to dance
          %td Gigs where swing music comprises less than one hour of the music played (including DJ music)
        %tr 
          %td Festivals and Fetes with over an hour of social dancing
          %td Events where the dancing area is mostly grass or dirt
        %tr 
          %td Parties after workshops, camps or exchanges which are individually ticketed  
          %td Parties after workshops, camps or exchanges which require a full pass or full weekend pass
          
  %h2 Music
  %p 
    The table below is just a guideline: a lot of the terms don't have a clear definition 
    and I don't claim a deep understanding of what they all mean.
    If you're a band and you're not sure whether you fit into this, 
    feel free to send me a recording and I'll let you know.

.sidebar.first
  =render partial: "about_lindy"

.sidebar
  =render partial: "swing_music"

%table#music_policy.full-width
  %thead
    %tr
      %th.row_title
      %th Yes
      %th Maybe
      %th No

  %tbody
    %tr.first
      %td.row_title In the style of an era
      %td 20's, 30's, early 40's
      %td	1900's/10's, Postwar
      %td	50's, 60s and later
    
    %tr
      %td.row_title Big Bands
      %td Early Big band Swing
      %td 
      %td 
        %ul.unstyled
          %li Smooth Swing
          %li Lounge/Vegas style Jazz
          %li Rat Pack
          %li Latin Swing
    
    %tr
      %td.row_title From New Orleans
      %td
        %ul.unstyled
          %li Trad/Hot Jazz
          %li Dixieland
      %td New Orleans style Jazz
      %td 
    
    %tr
      %td.row_title Piano-driven combos
      %td Stride piano
      %td 
        %ul.unstyled
          %li Ragtime
          %li Boogie Woogie
          %li Jump Blues
          %li Rhythm and Blues
      %td Smooth Jazz
    
    %tr
      %td.row_title Guitar-driven combos
      %td Manouche (Gypsy Jazz)
      %td 
      %td 
        %ul.unstyled
          %li Jive/Rock and Roll
          %li Jump Jive
          %li Rockabilly
          %li Neo-Swing
    
    %tr
      %td.row_title Electronic
      %td
      %td 
      %td Electro Swing