<main class="page">
  <h1>Users</h1>

  <%= form_with model: new_user, url: admin_users_path, class: "new-user-form" do |f| %>
    <div class="form-group">
      <%= f.label :facebook_ref, "Facebook ID" %>
      <%= f.text_field :facebook_ref %>
    </div>

    <div class="form-group">
      <%= f.label :role, "Role" %>
      <%= f.select :role, role_select_options %>
    </div>

    <%= f.submit "Add user", class: "button button-smaller" %>
  <% end %>

  <ul class="user-list">
    <div class="user-list-header">
      <div class="user-id">Facebook ID</div>
      <div>Name</div>
    </div>

    <% users.each do |user| %>
      <li class="user">
        <div class="user-data user-id">
          <div class="label">Facebook ID:</div>
          <div><%= user.id %></div>
        </div>
        <div class="user-data">
          <div class="label">Name:</div>
            <%= user.name %>
            <% if user.admin? %>
              (Admin)
            <% end %>
          </div>
        </div>
        <% unless user.current? %>
          <div class="actions">
            <% if user.admin? %>
              <%= link_to "Remove admin", admin_user_path(user, role: Role::EDITOR), data: { turbo: true, turbo_method: :patch }, class: "button button-small" %>
            <% else %>
              <%= link_to "Make admin", admin_user_path(user, role: Role::ADMIN), data: { turbo: true, turbo_confirm: "Are you sure you want to give this user Admin privileges?", turbo_method: :patch }, class: "button button-small" %>
            <% end %>
            <%= link_to "Delete", admin_user_path(user), data: { turbo: true, turbo_confirm: "Are you sure?", turbo_method: :delete }, class: "button button-small button-danger" %>
          </div>
        <% end %>
      </li>
    <% end %>
  </ul>
</main>
