<div class="content" id="about_swingoutlondon">
  <%= render "about_swingoutlondon" %>
</div>
<div class="sidebar first" id="about_me">
  <%= render "about_me" %>
</div>
<div class="sidebar" id="about_lindy">
  <%= render "about_lindy" %>
</div>
<div class="sidebar">
  <%= render "show_love" %>
</div>
<div id="colophon">
  <%= render "colophon" %>
</div>
