<section class="content">
  <h2>Privacy Policy</h2>
  <p>Your privacy is important to us. It is <%= tc("site_name") %>'s policy to respect your privacy regarding any information we may collect from you across our website, <a href="<%= tc("site_url") %>"><%= tc("site_url") %></a>, and other sites we own and operate.</p>
  <p>We use Facebook to authenticate volunteer editors who edit listings on the site. </p>
  <p>The Facebook profile name of a volunteer editor is processed by storing it alongside any revisions they make to listings on the site. Their profile name is visible only to other editors on the site, and is used to help them collaborate with other editors and see who has made revisions. We do not store any other information.</p>
  <p>Users who wish to revoke permission for the <%= tc("site_name") %> to access this site can do so by clicking "Disable my login" when logged into the site. This link is shown in the top-right of the editors home page.</p>
  <p>Users may request deletion of this data by sending an email to <%= tc("email_address") %> requesting deletion. The user's data will be deleted the site administrator receives this request. </p> 
  <p>What data we store, we’ll protect within commercially acceptable means to prevent loss and theft, as well as unauthorised access, disclosure, copying, use or modification.</p>
  <p>We don’t share any personally identifying information publicly or with third-parties, except when required by law to do so.</p>
  <p>Our website may link to external sites that are not operated by us. Please be aware that we have no control over the content and practices of these sites, and cannot accept responsibility or liability for their respective privacy policies.</p>
  <p>You are free to refuse our request for your personal information, with the understanding that we may be unable to provide you with some of your desired services.</p>
  <p>Your continued use of our website will be regarded as acceptance of our practices around privacy and personal information. If you have any questions about how we handle user data and personal information, feel free to contact us.</p>
  <p>This policy is effective as of 20 November 2023.</p>
</section>
