!!! 5
%html{ xmlns: "http://www.w3.org/1999/xhtml",
       "xmlns:fb" =>"http://www.facebook.com/2008/fbml",
       "xmlns:og" => "http://opengraphprotocol.org/schema/",
       "xml:lang" =>"en-GB" }
  %head
    %title= content_for?(:title) ? yield(:title) : "Swing Out London - listings of Lindy Hop swing dance classes and socials"
    
    %meta{ "http-equiv" => "Content-Type",      content: "text/html; charset=utf-8" }/
    %meta{ "http-equiv" => "Content-Language",  content: "en-GB" }/
    %meta{ name: "author",      content: "Duncan Stuart" }/
    %meta{ name: "description", content: content_for?(:description) ? yield(:description) : "Swing Out London is a listing of weekly Lindy Hop classes, regular socials, swing gigs and vintage clubs" }/
    %meta{ name: "viewport",    content: "width=device-width" }/
    = csrf_meta_tag
    
    = javascript_include_tag :application

    = yield :stylesheet
    /[if lte IE 7 ]
      = stylesheet_link_tag 'ie'
      
    = yield :head
  
  = content_tag( :body, :class => params[:action] ) do
    / = render partial: "admin_bar" if session[:authenticated]
    = content_for?(:content) ? yield(:content) : yield