<!DOCTYPE html>
<html lang="en-GB">
  <head>
    <%= render "layouts/google_analytics" %>
    <title>
      <%= content_for?(:title) ? yield(:title) : "#{tc("site_name")} - listings of Lindy Hop swing dance classes and socials" %>
    </title>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type"/>
    <meta content="initial-scale=1" name="viewport"/>
    <meta content="Duncan Stuart" name="author"/>
    <meta content="<%= content_for?(:description) ? yield(:description) : "#{tc("site_name")} is a listing of weekly Lindy Hop classes, regular socials, swing gigs and vintage clubs" %>" name="description"/>
    <link href="humans.txt" rel="author"></link>
    <link rel="icon" href="/favicon.ico" sizes="32x32">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <%= csrf_meta_tag %>
    <%= javascript_include_tag :application, defer: true %>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Jost:wght@500&display=swap">
    <%= stylesheet_link_tag 'application', media: "screen" %>
    <meta content="none" name="msapplication-config"/>
    <%= yield :head %>
  </head>
  <%= content_tag(:body, class: "#{@controller_name} #{@action_name}") do %>
    <%= content_for?(:content) ? yield(:content) : yield %>
  <% end %>
</html>
