<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML+RDFa 1.0//EN"
    "http://www.w3.org/MarkUp/DTD/xhtml-rdfa-1.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:fb="http://www.facebook.com/2008/fbml"
      xmlns:og="http://opengraphprotocol.org/schema/"
      xml:lang="en-GB">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta http-equiv="Content-Language" content="en-GB" />
    <meta name="author" content="Duncan Stuart"/>
    <meta name="description" content="Swing Out London is a listing of weekly Lindy Hop classes, regular socials, swing gigs and vintage clubs" />
    
    <% if params[:action] == "index" && !@cms_page %> 
    <script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
    <script type="text/javascript" src="http://connect.facebook.net/en_US/all.js#xfbml=1"></script>
    
    <meta property="og:title" content="Swing Out London - Lindy Hop Listings" />
    <meta property="og:site_name" content="Swing Out London" />
    <meta property="og:description" content="Swing Out London is a listing of weekly Lindy Hop classes, regular socials, swing gigs and vintage clubs" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="http://www.swingoutlondon.co.uk/" />
    <meta property="og:image" content="http://www.swingoutlondon.co.uk/images/swingoutlondon_og.png" />
    <meta property="og:email" content="leveretweb@googlemail.com" />
    <meta property="fb:admins" content="dgmstuart"/>
    <% end %>
    
    <meta name="viewport" content="width=device-width, user-scalable=no" />
    
    <%= csrf_meta_tag %>
    
    <title>Swing Out London - listings of Lindy Hop swing dance classes and socials</title>

    <%= stylesheet_link_tag 'main', :media=>"screen and (min-device-width: 481px)"%>
    <%= stylesheet_link_tag 'iphone', :media=>"only screen and (max-device-width: 480px)"%>
    <%= stylesheet_link_tag 'cms' if @cms_page%>
    <!--[if lte IE 7 ]>
    <%= stylesheet_link_tag 'ie' %>
    <![endif]-->
    <!--[if IE ]>
    <%= stylesheet_link_tag 'main'%>
    <![endif]-->
    
    <%= javascript_include_tag :defaults%>

</head>
<%= content_tag(:body, :class => params[:action]) do %>
    <div id="page">
    
        <div id="header">
            <%= heading_hn(params[:action], :class=>"site_title") do %>
                <em><%= link_to_unless_current 'Swing Out London', :controller => "website", :action => "index" %></em>
                Listings of Lindy Hop classes and socials in London    
            <% end %>
            <% if !@cms_page %>
            <p id="last_updated_ago">Last updated <%= time_ago_in_words @last_updated_datetime %> ago</p>
            <% end %>
            <%= render :partial => 'website/admin_nav', :locals => { :nav_id => 'admin_nav' } if @authenticated == true %>
            <%= render :partial => 'website/navigation', :locals => { :nav_id => 'main_nav' } %>
      
            <% if params[:action] == "index" && !@cms_page %>
                <%= render :partial => 'website/site_description' %>
            <% end %>  
        </div>
        
        
        <%= yield %>
        
  
        <div id="footer"> 
            <% if !@cms_page %>
            <p id="valid_statement">
                <%= raw valid_statement(params[:action])%>
            </p>
            <%end%>
          
            <%= render :partial => 'website/navigation', :locals => { :nav_id => 'footer_nav' } %>
            
            <address>Site by <%= mail_to CONTACT_EMAIL, "LeveretWeb", :subject => "Swing Out London"%></address>
            
            <% if !@cms_page %>
            <p id="last_updated"> &ndash; last updated at <%=@last_updated_time%> on <%=@last_updated_date%></p>
            <%end%>  
        </div>

  </div>
  <script type="text/javascript">
      var GoSquared={};GoSquared.acct="GSN-312169-W";(function(a){function b(){a._gstc_lt=+(new Date);var b=document;var c=b.createElement("script");c.type="text/javascript";c.async=true;c.src="//d1l6p2sc9645hc.cloudfront.net/tracker.js";var d=b.getElementsByTagName("script")[0];d.parentNode.insertBefore(c,d)}a.addEventListener?a.addEventListener("load",b,false):a.attachEvent("onload",b)})(window)
  </script>
  
<%end #/body%>
</html>