- content_for :stylesheet do
  = stylesheet_link_tag 'application_cms', media: "screen"

- content_for :content do
  #page
    #header
      = heading_hn(params[:action], :class=>"site_title") do
        %em= link_to_unless_current 'Swing Out London', :controller => "website", :action => "index"

      = render :partial => 'website/admin_nav', :locals => { :nav_id => 'admin_nav', nav_class: "navigation primary-nav" } if @authenticated == true
      = render :partial => 'website/navigation', :locals => { :nav_id => 'main_nav', nav_class: "navigation primary-nav" }
      
    = content_for?(:content) ? yield(:content) : yield
  
= render :template => 'layouts/application'