- content_for :stylesheet do
  = stylesheet_link_tag 'application_map', media: "screen"

- content_for :content do
  = map(@map.options, @map.json)

  %header.page
    %h1
      = link_to "Swing Out London's", :controller => "website", :action => "index"
      %em
        Lindy Map#{ mail_to CONTACT_EMAIL, content_tag(:small, ' Beta'), :subject => "Feedback on the Lindy Map" }

    .navigation.primary-nav<
      = link_to_unless_current "Socials", { action: :socials, date: nil }, :class => ("current" if params[:action] == "socials") do
        %span.current Socials
      = link_to_unless_current "Classes", { action: :classes, day: nil }, :class => ("current" if params[:action] == "classes") do
        %span.current Classes

  .listings.page
    = yield :listings

  = yield :scripts

= render template: 'layouts/application'
