- content_for :stylesheet do
  = stylesheet_link_tag 'application_map', media: "screen"

- content_for :content do
  #map{ data: { markers: @map.markers.to_json } }

  %header.page
    %h1
      = link_to "Swing Out London's", :controller => "website", :action => "index"
      %em
        Lindy Map

    .navigation.primary-nav<
      = link_to "Socials", { action: :socials, date: nil }, :class => ("current" if params[:action] == "socials")
      = link_to "Classes", { action: :classes, day: nil }, :class => ("current" if params[:action] == "classes")

  .listings.page
    = yield :listings

  = yield :scripts
  = javascript_include_tag('application_map')
  = javascript_include_tag("https://maps.googleapis.com/maps/api/js?key=#{ENV['GOOGLE_MAPS_JAVASCRIPT_API_KEY']}&callback=initMap", async: true, defer: true)

= render template: 'layouts/application'
