- content_for :title do 
  Swing Out London's Lindy Map 

- content_for :stylesheet do
  = stylesheet_link_tag 'application_map', media: "screen"

- content_for :content do
  = map(@map_options, @json)

  %header.page
    %h1
      = link_to "Swing Out London's", :controller => "website", :action => "index"
      %em= raw "Lindy Map#{content_tag :small, ' Beta'}"
    .navigation.primary-nav<
      = link_to_unless_current "Socials", { action: :socials, date: nil }, :class => ("current" if params[:action] == "socials") do
        %span.current Socials
      = link_to_unless_current "Classes", { action: :classes, day: nil }, :class => ("current" if params[:action] == "classes") do
        %span.current Classes
      
  .listings.page
    = yield :listings
  
  = yield :scripts
  :javascript
    Gmaps.map.callback = function() {  
      //var layer = new google.maps.BicyclingLayer();
      //var layer = new google.maps.TransitLayer();
      //layer.setMap(Gmaps.map.serviceObject);
    }
  
= render template: 'layouts/application'