- content_for :stylesheet do
  = stylesheet_link_tag 'application_map', media: "screen"

- content_for :content do
  = map(@map_options, @json)

  %header.page
    %h1=link_to 'Swing Out London', :controller => "website", :action => "index"
    .navigation.primary-nav<
      = yield :primary_nav
      
  .listings.page
    = yield :listings
  
  = yield :scripts
  :javascript
    Gmaps.map.callback = function() {  
      //var layer = new google.maps.BicyclingLayer();
      //var layer = new google.maps.TransitLayer();
      //layer.setMap(Gmaps.map.serviceObject);
    }
  
= render template: 'layouts/application'