- content_for :content do

  - if ENV['BANNER_HEAD'].present?
    .banner
      %h3= ENV['BANNER_HEAD']
      %p=  ENV['BANNER_BODY']
    .non-semantic-padding

  #page
    #header
      = heading_hn(params[:action], :class=>"site_title") do
        %em= link_to_unless_current 'Swing Out London', root_path
        Listings of Lindy Hop classes and socials in London

      = yield(:navigation)

    = content_for?(:page_content) ? yield(:page_content) : yield

    #footer
      = render 'layouts/website/navigation', :nav_id => 'footer_nav', nav_class: "navigation secondary-nav", links: main_navigation_links << privacy_policy_link

      %address
        Site by
        = link_to "@dgmstuart", "https://twitter.com/dgmstuart"

      %p#last_updated
        Last updated at #{ @last_updated_time } on #{ @last_updated_date }

= render :template => 'layouts/application'
