- content_for :script do
  :javascript
    (function(h,o,t,j,a,r){
        h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
        h._hjSettings={hjid:59511,hjsv:5};
        a=o.getElementsByTagName('head')[0];
        r=o.createElement('script');r.async=1;
        r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
        a.appendChild(r);
    })(window,document,'//static.hotjar.com/c/hotjar-','.js?sv=');

- content_for :stylesheet do
  = stylesheet_link_tag 'application', media: "screen"

- content_for :content do

  - if ENV['BANNER_HEAD']
    .banner
      %h3= ENV['BANNER_HEAD']
      %p=  ENV['BANNER_BODY']
    .non-semantic-padding

  #page
    #header
      = heading_hn(params[:action], :class=>"site_title") do
        %em= link_to_unless_current 'Swing Out London', :controller => "website", :action => "index"
        Listings of Lindy Hop classes and socials in London

      - if params[:action] == "index"
        %p#last_updated_ago
          Last updated
          %time.timeago{ datetime: @last_updated_datetime.getutc.iso8601 }
            at #{ @last_updated_time } on #{ @last_updated_date }

      = yield(:navigation)

    = content_for?(:page_content) ? yield(:page_content) : yield

    #footer
      = render :partial => 'website/navigation', :locals => { :nav_id => 'footer_nav', nav_class: "navigation secondary-nav" }

      %address
        Site by
        = link_to "@dgmstuart", "https://twitter.com/dgmstuart"

      %p#last_updated
        Last updated at #{ @last_updated_time } on #{ @last_updated_date }

= render :template => 'layouts/application'
