- content_for :stylesheet do
  = stylesheet_link_tag 'application', media: "screen"
  
- content_for :content do
  -#
    .banner
      %h3 Swing Out London is BACK FROM HERRÄNG
      %p Give me a couple of days to get it back under control - please be sure to check with the event websites in case anything has changed.
    
  #page
    #header
      = heading_hn(params[:action], :class=>"site_title") do
        %em= link_to_unless_current 'Swing Out London', :controller => "website", :action => "index"
        Listings of Lindy Hop classes and socials in London
      
      - if params[:action] == "index"
        %p#last_updated_ago
          Last updated
          %time.timeago{ datetime: @last_updated_datetime.getutc.iso8601 }
            at #{ @last_updated_time } on #{ @last_updated_date }

      = yield(:navigation)
    
    = content_for?(:page_content) ? yield(:page_content) : yield
    
    #footer
      %p#valid_statement
        = link_to "Valid HTML5", "http://validator.w3.org/check?uri=referer"

      = render :partial => 'website/navigation', :locals => { :nav_id => 'footer_nav', nav_class: "navigation secondary-nav" }
      %address
        Site by
        = mail_to CONTACT_EMAIL, "LeveretWeb", :subject => "Swing Out London"
  
      %p#last_updated
        &ndash; last updated at #{ @last_updated_time } on #{ @last_updated_date }

= render :template => 'layouts/application'